<!DOCTYPE html>
<html lang="en">

<head>
    <title>Image to ASCII</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon" href="./favicon.ico">
    <link rel="stylesheet" href="./assets/styles.css">
    <style>
        div {
            font-size: 2rem;
        }
        pre {
            font-family: revert;
        }
    </style>
</head>

<body>
<div>
<pre>
      q52      -'m"ls          Oyt  
     v4g,     =cqCJ56Z        tHgG  
     'Kg,     k8u  Tde"      -)KgG  
    .kxg,    zm'    yg       )o4gG  
   ?h$ig,    "g7    KgU     }bkSgG  
   $$ ig,    xgB    tgv    .zw SgG  
  #h? ig,    bgb    )gt    zY; SgG  
 *k.  ig,    KgA    vgI   FOd  SgG  
 X-   ig,    wg"    Ig!  `+9   SgG  
uBdEEEOg4E`  rge    Vg]  dg6EEEUghE4
;'''''Dg9'C  F$i    tgk  z'''''&lt;gY')
      Cg^     ggm  &lt;]z         qgb  
    d3Zg{('   ?uKxL}Y(        XuSgsz 
    &gt;eeeee:    &gtC;&gt;I!         Teeee1 
</pre>
</div>
</body>

</html>
