<!DOCTYPE html>
<html lang="en">

<head>
    <title>Image to ASCII</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <label id="resizeScaleId" for="resize_scale">0.5</label>
    <input id="resizeInputRangeId" type="range" max="1" min="0.1" step="0.1" name="resize_scale"
        onchange="changeValue(this)">
    <form id="formId" action={{ .URL }} method="post" enctype="multipart/form-data">
        <label for="limg"></label>
        <input type="file" id="limg" name="img">
        <input type="submit" Value="Submit" onclick="applyResize()">
    </form>

    <script>
        function changeValue(input) {
            document.getElementById("resizeScaleId").innerText = input.value;
            document.getElementById("resizeInputRangeId").value = input.value;
        }

        function applyResize() {
            const resizeScale = document.getElementById("resizeInputRangeId").value;

            const form = document.getElementById("formId");
            form.action = `{{ .URL }}?resize_scale=${resizeScale}`;
        }
    </script>
</body>

</html>
